.margin-fix{
  margin-top: 6rem;
}
.box-shadow{
	box-shadow: 0 20px 40px rgb(166, 181, 235);
	transition: all .3s ease-out;
}

.box-shadow:hover{
	box-shadow: 0 20px 40px rgb(122, 148, 236);
	transform: scale3d(1.2,1.2,1.2);
}

.card{
	border-radius: 25px;
}

.item-table{
	border: none;
	box-shadow: 0 20px 40px rgb(166, 181, 235);
	border-radius: 20px;
	transition: all .2s ease-out;
}

td{
	vertical-align: middle;
}